<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<h2>List of all users: </h2>
<ul>
  <% @users.each do |user| %>
  <li>
    <p>Name: <%= user.name %></p>
    <p>E-mail: <%= user.email %></p>
    <%= link_to "Profile page", user_path(user) %>

    <% if user == current_user %>
      This is you
    <% elsif !current_user.friends.include?(user) &&
          !current_user.pending_friends.include?(user) && %>
      <%= form_for(current_user.outgoing_requests.build) do |f| %>
        <div><%= hidden_field_tag :receiver_id, user.id %></div>
        <%= f.submit "Send friend request" %>
      <% end %>
    <% elsif current_user.friends.include?(user) %>
      You are friends
    <% end %>
  </li>
  <% end %>
</ul>
