<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>Name: <%= @user.name %></p>
<p>E-mail: <%= @user.email %></p>
<p><%= link_to "posts", posts_user_path(@user) %></p>
<p>Friends:
    <% @user.friends.each do |friend| %>
      <%= link_to "#{friend.name}", user_path(friend) %>,
    <% end %>
</p>

<% if current_user == @user %>
  <%= link_to "Incoming friend requests",
  incoming_requests_user_path(current_user) %>

  <p>New post:</p>
  <%= form_for(current_user.posts.build) do |post| %>

    <div class="field">
      <%= post.label :title %><br />
      <%= post.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= post.label :body %><br />
      <%= post.text_area :body, autofocus: true %>
    </div>

    <%= post.submit "Create post" %>
  <% end %>
<% end %>
