<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p>
      <% if user_signed_in? %>
        Signed in as: <%= current_user.name %>, <%= link_to "Log out",
        destroy_user_session_path, :method => :delete %>,
        <%= link_to "Profile page", user_path(current_user) %>,
        <%= link_to "Home", root_path %>,

        <% if current_user.incoming_requests.length > 0 %>
          <%= link_to "Incoming friend requests(#{current_user.incoming_requests.length})",
          incoming_requests_user_path(current_user) %>
        <% end %>
        
      <% else %>
        <%= link_to "Log in", new_user_session_path %> or
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
